@import '~normalize.css';

$vw_base: 750;
$vw_fontsize: 75;

@media screen and (orientation: portrait) {
  html {
    font-size: ($vw_fontsize / $vw_base) * 100vw;

    &, body {
      width: 100vw;
      height: var(--vh, 100vh);
    }

    body {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

@media screen and (orientation: landscape) {
  html {
    font-size: calc(#{$vw_fontsize / $vw_base} * var(--vh, 100vh));
    height: var(--vh, 100vh);
    overflow-y: hidden;

    body {
      width: var(--vh, 100vh);
      height: 100vw;
      overflow-x: auto;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: 0 0;
    }
  }
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: #030b1d;

  //&:before {
  //  content: '';
  //  background: #030b1d url(../images/bg.jpg) center top/100% auto repeat-y;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  //height: 3960px;
  //}

  * {
    -webkit-tap-highlight-color: rgba(#000, 0);
    -webkit-touch-callout: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

}
