@import '~normalize.css';

$vw_base: 1080;
$vw_fontsize: 108;

@media screen and (orientation: portrait) {
  html {
    font-size: ($vw_fontsize / $vw_base) * 100vw;

    &, body {
      width: 100vw;
      height: 100vh;
    }

    body {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

@media screen and (orientation: landscape) {
  html {
    font-size: ($vw_fontsize / $vw_base) * 100vh;
    height: 100vh;
    overflow-y: hidden;

    body {
      width: 100vh;
      height: 100vw;
      overflow-x: auto;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: 0 0;
    }
  }
}
