.T3 {
  display: flex;

  width: var(--rvw, 100%);
  height: var(--rvh, 100%);
  position: fixed;
  //top: 0;
  //left: 0;
  //transform: rotate(90deg) translate(0, -100%);
  //transform-origin: left top;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg) scale(1);
  overflow: hidden;

  > img {
    max-width: 1042px;
    max-height: 674px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .data-list {
    display: flex;
    flex-flow: column nowrap;

    width: 540px;
    background-color: rgba(#0e264d, .5);
    font-size: 18px;
    padding: 40px 0 0 30px;
    //transform: translateX(-100%);
    transition: transform .5s cubic-bezier(0, .20, .20, 1);
    transform: translate3d(-100%, 0, 0);

    &.open {
      transform: translate3d(0, 0, 0);
    }

    .c1 {
      color: #04aafe;
    }

    .c2 {
      color: #ffb743;
    }

    .c3 {
      color: #29de54;
    }

    h3 {
      display: flex;
      align-items: center;

      font-size: 22px;
      color: #3995ec;

      svg {
        width: 20px;
        height: 20px;
        margin-left: 10px;

        rect{
          fill: #fff;
        }
      }
    }

    .list-wrap {
      flex: 1 0 0;
      overflow-y: auto;
      color: #fff;
      margin-top: 15px;

      &.disabled-rebound {
        margin-top: 14px;
        margin-bottom: -1px;
        padding: 1px 0;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0 0 35px 0;

        //tr:first-child {
        //
        //  td {
        //    padding-top: 0;
        //  }
        //}

        td {
          padding: 15px 0;
        }
      }
    }
  }

  > .wrap {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;

    pointer-events: none;
    margin-right: 120px;
    margin-left: -540px;
    transform: perspective(0);
    transition: margin-left .5s cubic-bezier(0, .20, .20, 1);

    span {
      flex: 1 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.scale {
      margin-left: 50px;
    }
  }

  .check-in-island {
    display: flex;
    align-items: center;
    justify-content: center;

    //width: 1045px;
    //height: 665px;
    max-width: 100%;
    max-height: 80%;
    position: fixed;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    &:nth-of-type(1) {
      width: 1045px;
      height: 512px;
    }

    &:nth-of-type(2) {
      width: 844px;
      height: 575px;
    }

    &:nth-of-type(3) {
      width: 929px;
      height: 505px;
    }

    &:nth-of-type(4) {
      width: 752px;
      height: 587px;
    }

    &:nth-of-type(5) {
      width: 610px;
      height: 665px;
    }
  }

  a.float-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #3371fd;
    opacity: 0.902;
    box-shadow: 0 9px 21px 0 rgba(#2E66E4, 0.82);
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) translate3d(0, 0, 0);

    &:before {
      content: '';
      display: flex;
      border-radius: 50%;
      width: 9px;
      height: 9px;
      background-color: #fff;
      box-shadow: -16px 0 0 #fff, 16px 0 0 #fff;
    }
  }

  &:focus-within {

    .menu-list {
      pointer-events: auto;
      transform: translateX(0);
    }
  }

  .go-back {
    position: fixed;
    top: 0;
    right: 0;
    padding: 28px 30px;
    color: #3371fd;
    font-size: 34px;
  }

  .menu-list {
    display: flex;
    flex-flow: column nowrap;

    width: 260px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    pointer-events: none;

    &.disabled-rebound {
      top: -1px;
      bottom: -1px;
      padding: 1px 0;
    }

    a {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 116px;
      font-size: 24px;
      //background-color: #0e264d;
      //border-bottom: 1.1px solid #2554bd;
      background-color: rgba(#0e264d, .7);
      border-bottom: 1.1px solid rgba(#2554bd, .7);
      color: #fff;
      position: relative;

      &:last-child {
        border-bottom: 0;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#3371fd, .3);
        pointer-events: none;
        opacity: 0;
        transition: opacity .1s linear;
      }

      &.active {

        &:after {
          opacity: 1;
        }
      }
    }
  }
}